<!-- wp:template-part {"slug":"header","theme":"gama-software","className":"gama-site-header"} /-->
<!-- wp:group {"tagName":"main","className":"gama-template--front-page","layout":{"type":"constrained"}} -->
<main class="wp-block-group gama-template--front-page">
	<!-- wp:pattern {"slug":"gama-software/hero"} /-->
	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"gama-software","className":"gama-site-footer"} /-->
